.header-column {
    border    : 1px solid #7a9eea;
    height    : inherit;
    width     : 250px;
    text-align: center;
    float     : left;
}

.data-column {
    border    : 1px solid #e6eeff;
    height    : inherit;
    width     : 250px;
    text-align: center;
    float     : left;
}

.serial-no {
    width: 3%;
}

.medium {
    width: 30%;
}

.normal {
    width: 10%;
}

.small {
    width: 5%;
}

.extra-large {
    width: 47%;
}

img {
    height: 100px;
    width : 225px;
}

span {
    font-weight: bold;
}