.listing-container {
    width     : 100%;
    border    : 1px solid #ccc;
    height    : 650px;
    margin-top: 10px;
    overflow-y: auto;
}

.header-row {
    background-color: #4982fc;
    height          : 50px;
    color           : white;
    margin          : 0 auto;
}

.data-row {
    height    : 150px;
    text-align: left;
}

.no-data {
    margin    : auto 0;
    text-align: center;
}